.saved-movies {
  background-color: #202020;
  padding: 0 70px;
  min-height: 100vh;
}

@media screen and (max-width: 900px) {
  .saved-movies {
    padding: 0 30px;
  }
}

@media screen and (max-width: 640px) {
  .saved-movies {
    padding: 0 14px;
  }
}